/* write your override styles here */
#wall .tag-1 {
  display: none;
}

#wall #tag-2 {
  display: none;
}

/* tag-3 */  
#wall class="slick wicked" {
}

/* tag-4 */  
.parent > #tag-4 {
  display: none;
}

/* tag-5 */
div[class="slick"] {
  display: none;
}
div[class="slick wicked"] {
  display: none;
}

/* tag-6 */
#wall ~ #tag-6 {
  display: none;
}

/* tag-7 */
#wall ~ #tag-6 {
  display: none;
}